 body{
    margin: 0 auto; padding: 0;
    width: 1170px;
    box-sizing: border-box;
     
}

.header{
   
     padding: 40px 0;
    background-color: rgb(234, 202, 243);
    text-align: center;
    
}
.nav{
    
     padding:  1px 0;
    background-color: rgb(222, 226, 197);
    text-align: center;
}
 

 .content{
    background-color: rgb(150, 185, 185);
    height: 100vh;
    
 }
 .side1{
    height: 100vh;
    width: 20%;
    float: left;
    background-color: rgb(196, 196, 210);   
    padding: 270px 0;
    box-sizing: border-box;
    text-align: center;
     
 }
 
 
 .side2{
    height: 100vh;
    width: 20%;
    float: right;
    background-color: rgb(196, 196, 210);
    padding: 270px 0;
    box-sizing: border-box;
    text-align: center;
    
    
     
 }
 .beforecontent1{
    text-align: center;
    padding: 50px 0;
    box-sizing: border-box;
    height: 20vh;
    
background-color:  rgb(222, 211, 211);
}

.maincontent{
    height:60vh;
    background-color: rgb(161, 180, 176);
    padding: 160px 0;
    box-sizing: border-box;
    
    text-align: center;
    }
    


.beforecontent2{
    padding: 50px 0;
    box-sizing: border-box;
    height: 20vh;
background-color: rgb(222, 211, 211);
box-sizing: border-box;
    text-align: center;
    
}

.footer{
     
     padding: 10px;
    background-color: rgb(227, 179, 203);
    text-align: center;
}